<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwc.admin.mapper.DiaryMapper">
    <select id="getNote" resultType="com.lwc.admin.bean.Diary">
        select title,content from diary order by id
    </select>
</mapper>